@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    width: 100%;
    
    font-size: 18px;
    font-family: Barlow, sans-serif;

    background-color: hsl(0, 0%, 100%);
}

/* FONTS  */

h1, h2, h3, h4 {
    font-family: Fraunces, serif;
    font-weight: 900;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.5rem;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

h3 {
    letter-spacing: 0.4em;
    font-size: 14px;
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
}

h4 {
    color: hsl(212, 27%, 19%);
}

h5 {
    font-size: 13px;
    color: hsl(210, 4%, 67%);
    text-align: center;
}

p {
    color: hsl(232, 10%, 55%);
    text-align: center;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: hsl(200, 100%, 62%);
    position: fixed;
    width: 100%;
}

header img:first-child {
    padding: 10px 0px 6px 22px;
    width: 110px;
    object-fit: scale-down;
}

header img:last-child {
    padding: 8px 20px 8px 0px;
    width: 30px;
    object-fit: scale-down;
}

/* TITLE BLOCK */

.titleBlock {
    margin-top: 50px;
    background-image: url(images/mobile/image-header.jpg);
    background-size: 100%;
    background-position-y: -72px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.titleBlock h1 {
    padding-top: 80px;
}

.titleBlock img {
    margin-top: 50px;
    margin-bottom: 132px;
}

/* MAIN CONTENT BLOCKS */

.contentBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentBlock img {
    width: 100%;
}

.contentBlock p, h2 {
    max-width: 320px;
}

.contentBlock h2 {
    padding: 60px 22px 28px 22px;
}

.contentBlock p {
    line-height: 1.6em;
    padding: 0 22px 28px 22px;
}

.contentBlock a {
    margin: 0 22px 60px 22px;
    color: hsl(210, 28%, 10%);
    text-decoration: none;
    font-family: Fraunces, serif;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
}

.yellowBorder {
    border-bottom: 3px solid hsl(51, 100%, 72%);
}

.pinkBorder {
    border-bottom: 3px solid hsl(7, 100%, 76%);
}

/* GRAPHIC BLOCKS */

.graphicBlock {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%; 
}

.graphicBlock h2 {
    font-size: 28px;
    padding: 400px 22px 28px 22px;
}

.graphicBlock p {
    padding: 0 22px 60px 22px;
    font-size: 16px;
    line-height: 1.5em;
}

.typeA {
    background-image: url(images/mobile/image-graphic-design.jpg);
    background-size: 100%;
}

.typeA h2, p {
    color: hsl(167, 40%, 24%);
}

.typeB {
    background-image: url(images/mobile/image-photography.jpg);
    background-size: 100%; 
}

.typeB h2, p {
    color: hsl(198, 62%, 26%);
}

/* TESTIMONIALS */

.testBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 22px 0 22px;
}

.testBox:last-of-type {
    padding-bottom: 60px;
}

.testBox p {
    padding-top: 28px;
    line-height: 1.7em;
}

.testBox h4 {
    padding-top: 28px;
}

.testBox h5 {
    padding-top: 8px;
}

.testBox img {
    border-radius: 50%;
    width: 70px;
}

.testimonials h3 {
    padding: 60px 22px 0px 22px;
}
    
/* GALLERY */

.gallery {
    width: 100%;
    max-height: 480px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.gallery img {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: hsl(165, 39%, 66%);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer h1 {
    display: none;
}

#footerLogo {
    padding-top: 60px;
    width: 170px;
    filter: brightness(0.3) sepia(1) hue-rotate(120deg) saturate(3);
    opacity: 0.95;
}

footer nav {
    margin: 34px 22px 0 22px;
}

nav a{
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-size: 19px;
    padding: 0 20px 0px 20px;
}

footer section {
    margin-top: 84px;
    margin-bottom: 64px;
}

footer section a img {
    padding: 0 10px 0 10px;
}

/* ATTRIBUTION */

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 20px; 
    color: black;
    opacity: 0.7;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* MOBILE MENU */

.menuBlock {
    background-color: white;
    position: fixed;
    align-self: flex-end;
    margin: 76px 22px 0 auto;
    visibility: hidden;
}

.menuBlock::before {
    content:'';
    display:block;
    width:0;
    height:0;
    border-left: 36px solid transparent; 
    border-bottom:36px solid white;
    position:absolute;
    right: 0;
    top:-20px;
}

.menuBlock nav {
    padding-top: 22px;
    padding-bottom: 36px;
    width: 330px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menuBlock nav a {
    color: hsl(232, 10%, 55%);
    line-height: 3em;
}

.menuBlock nav a:last-of-type {
    font-family: Fraunces, serif;
    font-weight: 900;
    text-transform: uppercase;
    color:hsl(210, 28%, 10%);
    font-size: 16px;
    background-color: hsl(51, 100%, 49%);
    width: 100px;
    margin-top: 20px;
    line-height: 3.4em;
    border-radius: 30px;
    align-self: center;
}
